.app h3 {
    text-align: center;
}

.numberList {}

.list-item {
    list-style: none;
    display: inline;
    margin-left: 10px;
    background-color: pink;
    padding: 10px;
}

.listItem:hover {
    background-color: lightblue;
    cursor: pointer;
}