img {
    display: block;
    width: 100%;
    height: auto;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(../image/fitness-main.jpg);
    background-size: contain;
    background-position: center -180px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-top-bar {
    background: #d01919;
    color: #FFF;
}

.section-top-bar .container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.section-top-bar .socials a span {
    display: none;
}

.section-top-bar .socials {
    display: flex;
}

.section-top-bar .socials li {
    padding: 0 0.5em;
}

.section-top-bar .socials li,
.section-top-bar .socials a {
    display: block;
}

.section-top-bar a {
    color: #FFF;
}


.section-site-header {
    color: white;
}

.section-site-header a {
    color: white;
}

.section-site-header .site-title {
    display: none;
}

.section-site-header .container {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.section-coaches {
    background: #efefef;
}

.section-footer {
    background: #d01919;
}

.section-footer p {
    text-align: center;
    padding: 1em;
}