@media (max-width: 600px) {
    .home-cta-btn {
        padding: 8px 20px;
    }
    .home-links-container{
        padding-left: 1.5em;
    }

    .home-hero {
        display: flex;
        flex-direction: column;
    }

    .home-hero-text-container {
        width: 100%;
        margin-left: 0px;
        justify-content: center;
        order: 2;
    }

    .home-image1 {
        order: 1;
        width: 100%;
    }

    .home-cta-btn2 {
        width: 35%;
        align-self: center;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-feature-card {
        width: 100%;
    }

    .home-feature-card1 {
        flex-direction: column;
        width: 100%;
    }

    .home-feature-card2 {
        width: 100%;
    }

    .home-stats {
        display: flex;
        flex-direction: column;
        order: 1000;
        margin-top: 50em;
    }
}