body{
    font-family: 'Helvetica', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: #EDEDED;
}

h2{
    background-color: #3B516B;
    color: floralwhite;
    text-decoration: underline;
    padding: 10px;
    margin: 10px 5px;
    letter-spacing: 3px;
    border-radius: 10px;
}

li{
    margin-left: 20px;
}